@import url(http://fonts.googleapis.com/css?family=Roboto:400,100italic,300,100&subset=latin,cyrillic);

/*=====================================================================================================================*/
/*=====================================================================================================================*/
/*=====================================================================================================================*/
html, body {
  margin: 0;
  height: 100%;
  width: 100%;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}


button, input, textarea, a, select, button,
button:hover, input:hover, textarea:hover, a:hover, select:hover, button:hover,
button:active, input:active, textarea:active, a:active, select:active, button:active,
button:focus, input:focus, textarea:focus, a:focus, select:focus, button:focus{
    outline: none !important;
}

a:focus, a:hover {
    color: inherit;
    text-decoration: none;
}

figure {
  margin: 0;
  padding: 0; }

.relative {
  position: relative; }

.absolute {
  position: absolute; }

.fixed {
  position: fixed; }

.unstyled-textarea, .unstyled-input {
  background: none;
  box-sizing: border-box;
  border: none;
  padding: 0;
  margin: 0;
  width: auto; }

.unstyled-textarea {
  resize: none; }

.clear-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  list-style: none; }

.no-marg {
  margin: 0 !important; }

.no-pad {
  padding: 0; }

.exact-fit {
  margin: 0;
  padding: 0; }

.no-js body:after {
  display: block;
  position: fixed;
  top: 5px;
  left: 5%;
  right: 5%;
  padding: 10px 0;
  background: firebrick;
  color: lightyellow;
  text-align: center;
  font-weight: bold;
  z-index: 100500;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  content: 'This page requires JavaScript for correct performance'; }

.disable-hover, .disable-hover * {
  pointer-events: none !important; }

.ir {
  position: absolute;
  overflow: hidden;
  width: 1px;
  height: 1px;
  left: -1000%;
  top: -1000%;
  text-indent: -1000%; }

img.r {
  width: 100%;
  height: auto;
  display: block; }

.center {
  text-align: center; }

.right {
  text-align: right; }

.left {
  text-align: left; }

.v-top {
  vertical-align: top; }

.v-middle {
  vertical-align: middle; }

.v-bottom {
  vertical-align: bottom; }

.pull-left {
  float: left; }

.pull-right {
  float: right; }

.pull-clear {
  clear: both; }
  .pull-clear:after {
    display: table;
    content: '';
    clear: both; }

.block {
  display: block !important; }

.inline {
  display: inline-block !important; }

.table {
  display: table;
  margin-bottom: 0;}

.list-item {
  display: list-item; }

.cell {
  display: table-cell; }

.black {
  color: #000000; }

.white {
  color: #ffffff; }

.bg-black {
  background-color: #000000; }

.bg-white {
  background-color: #ffffff; }

/* -----------------------------------------------------
	fonts weight
*/
.light {
  font-weight: 100; }

.semilight {
  font-weight: 300; }

.regular {
  font-weight: 400; }

.bold {
  font-weight: 600; }

.boldest {
  font-weight: 900; }

.lowercase {
  text-transform: lowercase; }

.uppercase {
  text-transform: uppercase; }

.underline {
  text-decoration: underline; }

a.underline:hover {
  text-decoration: none; }

.rev-underline {
  text-decoration: none; }

a.rev-underline:hover {
  text-decoration: underline; }

/* -----------------------------------------------------
	fonts size
*/
.font-6 {
  font-size: 6px; }

.font-7 {
  font-size: 7px; }

.font-8 {
  font-size: 8px; }

.font-9 {
  font-size: 9px; }

.font-10 {
  font-size: 10px; }

.font-11 {
  font-size: 11px; }

.font-12 {
  font-size: 12px; }

.font-13 {
  font-size: 13px; }

.font-14 {
  font-size: 14px; }

.font-15 {
  font-size: 15px; }

.font-16 {
  font-size: 16px; }

.font-17 {
  font-size: 17px; }

.font-18 {
  font-size: 18px; }

.font-19 {
  font-size: 19px; }

.font-20 {
  font-size: 20px; }

.font-21 {
  font-size: 21px; }

.font-22 {
  font-size: 22px; }

.font-23 {
  font-size: 23px; }

.font-24 {
  font-size: 24px; }

.font-25 {
  font-size: 25px; }

.font-26 {
  font-size: 26px; }

.font-27 {
  font-size: 27px; }

.font-28 {
  font-size: 28px; }

.font-29 {
  font-size: 29px; }

.font-30 {
  font-size: 30px; }

.font-31 {
  font-size: 31px; }

.font-32 {
  font-size: 32px; }

.font-33 {
  font-size: 33px; }

.font-34 {
  font-size: 34px; }

.font-35 {
  font-size: 35px; }

.font-36 {
  font-size: 36px; }

.font-37 {
  font-size: 37px; }

.font-38 {
  font-size: 38px; }

.font-39 {
  font-size: 39px; }

.font-40 {
  font-size: 40px; }

.font-41 {
  font-size: 41px; }

.font-42 {
  font-size: 42px; }

.font-43 {
  font-size: 43px; }

.font-44 {
  font-size: 44px; }

.font-45 {
  font-size: 45px; }

.font-46 {
  font-size: 46px; }

.font-47 {
  font-size: 47px; }

.font-48 {
  font-size: 48px; }

.font-49 {
  font-size: 49px; }

.font-50 {
  font-size: 50px; }

.font-51 {
  font-size: 51px; }

.font-52 {
  font-size: 52px; }

.font-53 {
  font-size: 53px; }

.font-54 {
  font-size: 54px; }

.font-55 {
  font-size: 55px; }

.font-56 {
  font-size: 56px; }

.font-57 {
  font-size: 57px; }

.font-58 {
  font-size: 58px; }

.font-59 {
  font-size: 59px; }

.font-60 {
  font-size: 60px; }

/* -----------------------------------------------------
	sizes array of indents
*/
.island-5 {
  padding: 5px; }

.island-10 {
  padding: 10px; }

.island-15 {
  padding: 15px; }

.island-20 {
  padding: 20px; }

.island-25 {
  padding: 25px; }

.island-30 {
  padding: 30px; }

.island-35 {
  padding: 35px; }

.island-40 {
  padding: 40px; }

/* -----------------------------------------------------
	PADDINGS
*/
.pad-h5 {
  padding-left: 5px;
  padding-right: 5px; }

.pad-h10 {
  padding-left: 10px;
  padding-right: 10px; }

.pad-h15 {
  padding-left: 15px;
  padding-right: 15px; }

.pad-h20 {
  padding-left: 20px;
  padding-right: 20px; }

.pad-h25 {
  padding-left: 25px;
  padding-right: 25px; }

.pad-h30 {
  padding-left: 30px;
  padding-right: 30px; }

.pad-h35 {
  padding-left: 35px;
  padding-right: 35px; }

.pad-h40 {
  padding-left: 40px;
  padding-right: 40px; }

.pad-v5 {
  padding-top: 5px;
  padding-bottom: 5px; }

.pad-v10 {
  padding-top: 10px;
  padding-bottom: 10px; }

.pad-v15 {
  padding-top: 15px;
  padding-bottom: 15px; }

.pad-v20 {
  padding-top: 20px;
  padding-bottom: 20px; }

.pad-v25 {
  padding-top: 25px;
  padding-bottom: 25px; }

.pad-v30 {
  padding-top: 30px;
  padding-bottom: 30px; }

.pad-v35 {
  padding-top: 35px;
  padding-bottom: 35px; }

.pad-v40 {
  padding-top: 40px;
  padding-bottom: 40px; }

.pad-v70 {
    padding-top: 70px;
    padding-bottom: 70px; }

.pad-top-5 {
  padding-top: 5px; }

.pad-top-10 {
  padding-top: 10px; }

.pad-top-15 {
  padding-top: 15px; }

.pad-top-20 {
  padding-top: 20px; }

.pad-top-25 {
  padding-top: 25px; }

.pad-top-30 {
  padding-top: 30px; }

.pad-top-35 {
  padding-top: 35px; }

.pad-top-40 {
  padding-top: 40px; }

.pad-top-70 {
    padding-top: 70px; }

.pad-bot-5 {
  padding-bottom: 5px; }

.pad-bot-10 {
  padding-bottom: 10px; }

.pad-bot-15 {
  padding-bottom: 15px; }

.pad-bot-20 {
  padding-bottom: 20px; }

.pad-bot-25 {
  padding-bottom: 25px; }

.pad-bot-30 {
  padding-bottom: 30px; }

.pad-bot-35 {
  padding-bottom: 35px; }

.pad-bot-40 {
  padding-bottom: 40px; }

.pad-bot-375 {
  padding-bottom: 375px; }

.pad-left-5 {
  padding-left: 5px; }

.pad-left-10 {
  padding-left: 10px; }

.pad-left-15 {
  padding-left: 15px; }

.pad-left-20 {
  padding-left: 20px; }

.pad-left-25 {
  padding-left: 25px; }

.pad-left-30 {
  padding-left: 30px; }

.pad-left-35 {
  padding-left: 35px; }

.pad-left-40 {
  padding-left: 40px; }

.pad-left-50 {
    padding-left: 50px; }

.pad-left-80 {
    padding-left: 80px; }

.pad-left-130 {
    padding-left: 130px; }

.pad-right-5 {
  padding-right: 5px; }

.pad-right-10 {
  padding-right: 10px; }

.pad-right-15 {
  padding-right: 15px; }

.pad-right-20 {
  padding-right: 20px; }

.pad-right-25 {
  padding-right: 25px; }

.pad-right-30 {
  padding-right: 30px; }

.pad-right-35 {
  padding-right: 35px; }

.pad-right-40 {
  padding-right: 40px; }

.pad-right-50 {
  padding-right: 50px; }

/* -----------------------------------------------------
	MARGINS
*/
.marg-5 {
  margin: 5px; }

.marg-10 {
  margin: 10px; }

.marg-15 {
  margin: 15px; }

.marg-20 {
  margin: 20px; }

.marg-25 {
  margin: 25px; }

.marg-30 {
  margin: 30px; }

.marg-35 {
  margin: 35px; }

.marg-40 {
  margin: 40px; }

.marg-h5 {
  margin-left: 5px;
  margin-right: 5px; }

.marg-h10 {
  margin-left: 10px;
  margin-right: 10px; }

.marg-h15 {
  margin-left: 15px;
  margin-right: 15px; }

.marg-h20 {
  margin-left: 20px;
  margin-right: 20px; }

.marg-h25 {
  margin-left: 25px;
  margin-right: 25px; }

.marg-h30 {
  margin-left: 30px;
  margin-right: 30px; }

.marg-h35 {
  margin-left: 35px;
  margin-right: 35px; }

.marg-h40 {
  margin-left: 40px;
  margin-right: 40px; }

.marg-v5 {
  margin-top: 5px;
  margin-bottom: 5px; }

.marg-v10 {
  margin-top: 10px;
  margin-bottom: 10px; }

.marg-v15 {
  margin-top: 15px;
  margin-bottom: 15px; }

.marg-v20 {
  margin-top: 20px;
  margin-bottom: 20px; }

.marg-v25 {
  margin-top: 25px;
  margin-bottom: 25px; }

.marg-v30 {
  margin-top: 30px;
  margin-bottom: 30px; }

.marg-v35 {
  margin-top: 35px;
  margin-bottom: 35px; }

.marg-v40 {
  margin-top: 40px;
  margin-bottom: 40px; }

.marg-top--10 {
    margin-top: -10px; }

.marg-top-3 {
    margin-top: 3px; }

.marg-top-5 {
  margin-top: 5px; }

.marg-top-10 {
    margin-top: 10px !important; }

.marg-top-12 {
    margin-top: 12px !important; }

.marg-top-15 {
  margin-top: 15px; }

.marg-top-20 {
  margin-top: 20px; }

.marg-top-25 {
  margin-top: 25px; }

.marg-top-30 {
  margin-top: 30px; }

.marg-top-35 {
  margin-top: 35px; }

.marg-top-40 {
  margin-top: 40px; }

.marg-top-50 {
  margin-top: 50px; }

.marg-top-60 {
    margin-top: 60px; }

.marg-top-84 {
    margin-top: 84px; }

.marg-top-100 {
    margin-top: 100px; }

.marg-top-140 {
  margin-top: 140px; }

.marg-top-160 {
    margin-top: 160px; }

.marg-bot-5 {
  margin-bottom: 5px; }

.marg-bot-10 {
  margin-bottom: 10px; }

.marg-bot-15 {
  margin-bottom: 15px; }

.marg-bot-20 {
  margin-bottom: 20px; }

.marg-bot-25 {
  margin-bottom: 25px; }

.marg-bot-30 {
  margin-bottom: 30px; }

.marg-bot-35 {
  margin-bottom: 35px; }

.marg-bot-40 {
  margin-bottom: 40px; }

.marg-bot-60 {
    margin-bottom: 60px; }

.marg-bot-100 {
    margin-bottom: 100px; }

.marg-bot-150 {
    margin-bottom: 150px; }

.marg-left-5 {
  margin-left: 5px; }

.marg-left-10 {
  margin-left: 10px; }

.marg-left-15 {
  margin-left: 15px; }

.marg-left-20 {
  margin-left: 20px; }

.marg-left-25 {
  margin-left: 25px; }

.marg-left-30 {
  margin-left: 30px; }

.marg-left-35 {
  margin-left: 35px; }

.marg-left-40 {
  margin-left: 40px; }

.marg-left-80 {
    margin-left: 80px; }

.marg-left-130 {
    margin-left: 130px; }

.marg-left-200 {
    margin-left: 200px; }

.marg-right-5 {
  margin-right: 5px; }

.marg-right-10 {
  margin-right: 10px; }

.marg-right-15 {
  margin-right: 15px; }

.marg-right-20 {
  margin-right: 20px; }

.marg-right-25 {
  margin-right: 25px; }

.marg-right-30 {
  margin-right: 30px; }

.marg-right-35 {
  margin-right: 35px; }

.marg-right-40 {
  margin-right: 40px; }
/*=====================================================================================================================*/
/*=====================================================================================================================*/
/*=====================================================================================================================*/
.h100p{
    height: 100%;
    min-height: 100%;
}
.w100p{
    width: 100%;
}
.list-decimal{
    list-style-type: decimal;
}
.list-disc{
    list-style-type: disc;
}
.list-style-none{
    list-style-type: none;
}
.cursor-p{
    cursor: pointer;
}

/*=====================================================================================================================*/
/*=====================================================================================================================*/
/*=====================================================================================================================*/
.f-roboto-r{
    font-family: 'Roboto', sans-serif;
}
.f-roboto-l{
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}
.f-roboto-t{
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
}
.f-roboto-ti{
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    font-style: italic;
}
/*=====================================================================================================================*/
/*=====================================================================================================================*/
/*=====================================================================================================================*/
.link-1{
    color: white;
    text-decoration: none;
}
.link-1:hover{
    color: white;
    text-decoration: none;
    border-bottom: 1px solid white;
}
.link-1.active{
    border-bottom: 1px solid white;
}
.link-2{
    color: #3597d8;
    text-decoration: none;
    border-bottom: 1px solid #3597d8;
}
.link-2:hover{
    color: #3597d8;
    text-decoration: none;
    border-bottom: 1px solid transparent;
}
.link-3{
    color: #555555;
    text-decoration: none;
}
.link-3:hover{
    color: #3597d8;
    text-decoration: none;
}
/*=====================================================================================================================*/
/*=====================================================================================================================*/
/*=====================================================================================================================*/
.color-1{
    color: #555555;
}
.color-2{
    color: #3597d8;
}
.color-3{
    color: #1f6193;
}
.color-4{
    color: #103754;
}
.color-5{
    color: #898989;
}
.color-6{
    color: #555555;
}
.color-7{
    color: #f5989d;
}
.color-7{
    color: #ac2023;
}

/*=====================================================================================================================*/
/*=====================================================================================================================*/
/*=====================================================================================================================*/
.box-1{
    background: #3597d8;
    padding-top: 30px;
    position: relative;
    z-index: 1;
}
.box-1-bg{
    background: url(../img/box-1_bg.png) 0 0 no-repeat;
    width: 450px;
    height: 552px;
    position: absolute;
    top: 167px;
    left: 0;
}
.btn-1{
    padding: 8px 33px;
    border: 1px solid white;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    text-align: center;
    background: none;
}
.btn-2{
    background: #5bcc00;
    padding: 16px 66px;
    text-align: center;
    color: #ffffff;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    display: inline-block;
    position: relative;
    margin: 100px 0;
    border: none;
}
.btn-2:hover{
    text-decoration: none;
    color: #ffffff;
}
.btn-2:before{
    content: "";
    background: url(../img/dots-1.png) 0 0 no-repeat;
    width: 21px;
    height: 72px;
    position: absolute;
    left: -30px;
    top: -88px;
}
.btn-2:after{
    content: "";
    background: url(../img/dots-2.png) 0 0 no-repeat;
    width: 82px;
    height: 217px;
    position: absolute;
    right: -60px;
    bottom: -205px;
}
.gray-circ{
    margin: 0 auto;
    text-align: center;
    width: 66px;
    height: 66px;
    background: #d7d7d7;
    line-height: 62px;
    -webkit-border-radius: 33px;
    -moz-border-radius: 33px;
    border-radius: 33px;
}
.box-2{
    height: 755px;
    overflow: hidden;
}
.box-3{
    background: #103754;
}
.input{
    background: #ffffff;
    padding: 16px 30px;
    color: #000000;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    display: inline-block;
    border: none;
    width: 66%;
}
.box-3 .btn-2, .box-7 .btn-2, .dsk-pre-footer .btn-2{
    width: 30%;
    float: right;
    margin: 0;
}
.box-3-bg{
    background: url(../img/box-3_bg.png) 0 0 no-repeat;
    width: 364px;
    height: 287px;
    position: absolute;
    top: 50px;
    left: -125px;
}
.box-4{
    padding: 200px 0 240px;
}
.box-4-bg{
    background: url(../img/box-4_bg.png) 0 0 no-repeat;
    width: 1143px;
    height: 842px;
    position: relative;
}
.box-4-text-1, .box-4-text-2, .box-4-text-3, .box-4-text-4{
    background: white;
    padding: 10px 15px;
    width: 260px;
    text-align: left;
}
.box-4-text-1{
    position: absolute;
    top: -60px;
    left: 260px;
}
.box-4-text-2{
    position: absolute;
    top: -75px;
    left: 680px;
}
.box-4-text-3{
    position: absolute;
    top: 550px;
    left: 120px;
}
.box-4-text-4{
    position: absolute;
    top: 770px;
    left: 880px;
}
.box-4-text-3, .box-4-text-4 {
    -webkit-box-shadow: 10px 10px 24px -8px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 10px 10px 24px -8px rgba(0, 0, 0, 0.75);
    box-shadow: 10px 10px 24px -8px rgba(0, 0, 0, 0.75);
}
.box-5{
    background: #f5f5f5;
    padding: 120px 0;
}
.box-5_img3{
    background: url(../img/box-5_img3.png) 0 0 no-repeat;
    width: 340px;
    height: 359px;
    position: absolute;
    left: 20px;
    top: -220px;
}
.box-6-item-1, .box-6-item-2{
    position: relative;
}
.box-6-item-1{
    margin-top: 60px;
    min-height: 900px;
    border: 1px solid #cccccc;
}
.box-6-item-header{
    background: #3290cf;
}
.box-6-item-2 .box-6-item-header{
    background: #103754;
}
.box-6-item-2{
    background: #3597d8;
    min-height: 1030px;
}
.box-6-item-2 .box-6-item-ul li:nth-child(odd){
    background: #358fcb;
}
.box-6-item-ul li:nth-child(odd){
    background: #f5f5f5;
}
.box-6-item-ul{
    padding-bottom: 170px;
}
.box-6-item-ul li{
    padding: 15px 0 15px 30px;
}
.box-6-item-ul li img{
    margin-right: 10px;
}
.btn-3{
    margin: 0 auto;
    width: 190px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    -webkit-border-radius: 35px;
    -moz-border-radius: 35px;
    border-radius: 35px;
    background: #3597d8;
    color: white;
    display: block;
    font-size: 18px;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 60px;
}
.btn-3:hover{
    color: white;
    text-decoration: none;
}
.box-6-item-2 .btn-3{
    background: #103754;
    width: 220px;
    height: 60px;
    font-size: 21px;
    line-height: 60px;
}
.banner{
    background: #3597d8;
    padding: 15px 30px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}
.banner .btn-3{
    position: relative;
    bottom: 0;
    background: none;
    border: 1px solid white;
}
.box-7{
    margin-top: 100px;
    background: #103754;
    padding: 35px 0;
}
.box-7 .btn-2 {
    padding: 16px 45px;
}
.footer{
    background: #081d2c;
    padding: 20px 0;
    text-align: center;
}

/*=====================================================================================================================*/
/*=====================================================================================================================*/
/*=====================================================================================================================*/
.pop-up-wrap{
    opacity: 0;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: none;
    z-index: -1;
    -webkit-transition: all 0.2s ease-in;
    -moz-transition: all 0.2s ease-in;
    -ms-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
}
#pop-up-1 .pop-up-inside{
    background: #ffffff;
    position: fixed;
    width: 810px;
    left: 50%;
    top: 50%;
    margin: -230px 0 0 -405px;
    padding: 30px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border-bottom: 5px solid #3597d8;
}
.pop-up-box1, .pop-up-box2{
    background: #f5f5f5;
    width: 48%;
    float: left;
    padding-bottom: 30px;
    position: relative;
}
.pop-up-box2{
    float: right;
}
#pop-up-1 .pop-up-inside .btn-3,
#pop-up-2 .pop-up-inside .btn-3{
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    position: relative;
    bottom: 0px;
    width: 225px;
    color: white;
    border: none;
}
.pop-up-or{
    position: absolute;
    right: -40px;
    top: 42%;
    background: #103754;
    border: 10px solid white;
    width: 60px;
    height: 60px;
    -webkit-border-radius: 40px;
    -moz-border-radius: 40px;
    border-radius: 40px;
    line-height: 38px;
    z-index: 1;
}
.close{
    position: absolute;
    right: 10px;
    top: 10px;
    width: 25px;
    height: 25px;
    display: block;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    border: 1px solid #3597d8;
    text-align: center;
    font-size: 17px;
    line-height: 21px;
}
.close:hover{
    text-decoration: none;
}
#pop-up-2 .pop-up-inside{
    background: #ffffff;
    position: fixed;
    width: 420px;
    left: 50%;
    top: 50%;
    margin: -290px 0 0 -210px;
    padding: 30px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border-bottom: 5px solid #3597d8;
}
.pop-up-input{
    width: 100%;
    border: 1px solid #e1e1e1;
    padding: 11px 12px;
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.active-pop-up{
    opacity: 1;
    z-index: 11;
    background: rgba(0,0,0,.5);
}
.header{
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    z-index: 10;
    background: rgba(53, 151, 216, 0.70);
    height: 110px;
    padding: 20px 0;
    -webkit-transition: all .2s ease-in;
    -moz-transition: all .2s ease-in;
    -ms-transition: all .2s ease-in;
    -o-transition: all .2s ease-in;
    transition: all .2s ease-in;
}
.reduce-header{
    height: 70px;
    padding: 5px 0;
}
.reduce-header .col-xs-7{
    margin-top: 10px;
}
.stop-scrolling {
    height: 100%;
    overflow: hidden;
}
/*======================================================================================================================*/
/*======================================================================================================================*/
/*======================================================================================================================*/
.input-hidden{
    visibility: hidden;
}
/* SQUARED FOUR */
.squaredFour {
    width: 20px;
    position: relative;
    display: inline-block;
}

.squaredFour label {
    cursor: pointer;
    position: absolute;
    width: 20px;
    height: 20px;
    top: 0;
    left: 0;
    border-radius: 2px;
    border: 1px solid #3597d8;
}

.squaredFour label:after {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    opacity: 0;
    content: '';
    position: absolute;
    width: 9px;
    height: 5px;
    background: transparent;
    top: 6px;
    left: 5px;
    border: 3px solid #3597d8;
    border-top: none;
    border-right: none;

    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.squaredFour label:hover::after {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
    filter: alpha(opacity=30);
    opacity: 0.5;
}

.squaredFour input[type=checkbox]:checked + label:after {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=100);
    opacity: 1;
}
/*======================================================================================================================*/
/*===============================================DISK==================================================================*/
/*======================================================================================================================*/
.dsk-header{
    height: 125px;
    background: #3597d8;
    padding-top: 27px;
}
.dick-col-xs-3{
    width: 25%;
}
.dick-col-xs-9{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    padding: 0 20px;
    float: right;
}
.crumbs{
    height: 100px;
    background: #103754;
    padding: 40px;
}
.bg-dsk{
    position: relative;
}
.bg-dsk:after{
    content: "";
    position: absolute;
    left: -700%;
    right: 0;
    top: 0;
    bottom: 0;
    width: 800%;
    height: 100%;
    background: #f5f5f5;
    z-index: -1;
    border-right: 1px solid #ebebeb;
}
.accordion-li{
    list-style-type: circle;
    color: #3597d8;
}
.accordion-li .active-li{
    list-style-type: disc;
    color: #3597d8;
}
.accordion-li .active-li a{
    color: #3597d8;
}
.accordion-li li{
    margin-bottom: 20px;
}
.accordion-li li:last-child{
    margin-bottom: 0;
}
pre{
    border: none;
    padding: 15px;
}
.dsk-form{
    box-sizing: border-box;
    width: 360px;
    height: 50px;
    position: relative;
    margin-top: 45px;
}
.dsk-serach{
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    padding: 0 35px 0 15px;
    border: 1px solid #e1e1e1;
}
.dsk-serach-btn{
    position: absolute;
    right: 8px;
    top: 13px;
    border: none;
    width: 22px;
    height: 22px;
    background: url(../img/search.png) 0 0 no-repeat;
}
/*======================================================================================================================*/
.ui-state-active{
    color: #3597d8 !important;
    border: none;
    background: none;
}
.ui-state-hover{
    color: #3597d8 !important;
}
.ui-accordion-header{
    outline: none;
}
.ui-accordion .ui-accordion-content {
    padding: 20px 0 0;
    border: none;
    background: none;
}
.ui-state-default{
    border: none;
    background: none;
    color: #555555;
}
.ui-state-default .ui-icon {
    background-image: url("../img/arr-u.png");
    background-position: 0 0;
}
.ui-state-active .ui-icon {
    background-image: url("../img/arr-d.png");
    background-position: 0 0;
}
.ui-accordion .ui-accordion-header .ui-accordion-header-icon {
    left: inherit;
    right: 5%;
    margin-top: 7px;
}
.ui-accordion .ui-accordion-icons {
    padding: 20px 0 0;
}
.ui-accordion .ui-accordion-content {
    color: #555555;
}
.ui-icon {
    width: 10px;
    height: 6px;
}
/*======================================================================================================================*/
/*=============================================FORGOT PASSWORD==========================================================*/
/*======================================================================================================================*/
.forgot-pass .progress-button {
    width: 145px;
}
.mail-err{
    background: #fad5d6;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    padding: 9px 10px;
}
.mail-err-exclamation{
    width: 21px;
    height: 21px;
    line-height: 21px;
    background: #ac2023;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    border-radius: 12px;
    margin-right: 10px;
    text-align: center;
    display: inline-block;
    color: #ffffff;
    font-style: normal;
}
.fixed-footer{
    position: absolute;
    bottom: 20px;
    left: 0;
    right: 0;
}
/*======================================================================================================================*/
/*===================================================LOGIN==============================================================*/
/*======================================================================================================================*/
.login-border{
    position: relative;
}
.login-border:after{
    content: "";
    width: 1px;
    height: 70%;
    background: #e1e1e1;
    position: absolute;
    right: -110px;
    top: 55px;
}
.soc-btn1, .soc-btn2{
    display: inline-block;
    padding: 17px 35px 17px 90px;
    min-width: 290px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border: none;
    color: #ffffff;
    font-size: 17px;
    background: url(../img/soc-f.png) 23px  10px no-repeat, #3b5998;
    text-align: left;
}
.soc-btn2{
    background: url(../img/soc-g.png) 20px  10px no-repeat, #da4835;
}
/*======================================================================================================================*/
/*==============================================REGISTRATION============================================================*/
/*======================================================================================================================*/
.registration .progress-button {
    width: 230px;
}
/*======================================================================================================================*/
/*======================================================================================================================*/
/*======================================================================================================================*/
.err-input{
    border: 1px solid #ac2023;
    color: #ac2023;
}
.dsk-pre-footer{
    background: #103754;
    padding: 35px 0;
}
.dsk-pre-footer .btn-2{
    padding: 16px 45px;
}
